@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.login {
  width: 410px;
  position: relative;
  padding: 20px;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  text-align: center;
  border-left: 3px solid  #5D6D7E ;
  border-right: 3px solid  #5D6D7E ;
  border-top: 3px solid  #5D6D7E ;
  border-bottom: 3px solid#5D6D7E;
}
.login h2 {
  padding: 20px 0 20px;
  font-size: 32px;
  color:black;
  border-bottom: 3px solid#5D6D7E;
  text-align: center;
  line-height: 1;
  font-family: 'Noto Sans KR', sans-serif;
}
.login > form > ul {
  list-style: none;
  padding:0 0 10px;
  
}
.login > form > ul li {
  padding: 0 0 12px;
  text-align: left;
}
.login > form > ul li input {
  width: 100%;
  height: 46px;
  font-size: 16px;
  box-sizing: border-box;
  text-indent: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  border: 2px solid #F4F6F7;
}
.login > form > ul li input::-webkit-input-placeholder {
  font-size: 14px;
  color: gray;
  font-weight:bold;
  text-indent: 18px;
}
.login li button {
  width: 100%;
  height: 56px;
  background: #5D6D7E;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: #fff;
}
.login div {
  padding: 0 0 15px;
}
.login div ul {
  list-style: none;
  display: flex;
}
.login div ul li {
  padding: 1px 18px 1px 18px;
}
.login div ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #111;
  
}